@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 241);
}

* {
    box-sizing: border-box;
}

.container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 480px;
    padding: 20px;
}

#registroForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.15);
}

h2 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #eee;
}

h5 {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 25px 0;
}

#formulario {
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-element:not(:nth-last-child(1)) {
    margin-bottom: 10px;
}

.form-element.show-inline {
    flex-direction: row;
    align-items: center;
}

.form-element.show-inline label {
    margin: 0;
}

.form-element.show-inline label:not(:nth-child(1)) {
    font-style: italic;
}

.form-element.show-inline input {
    margin: 0 5px 0 10px;
}

label {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

label.inline {
    display: inline-block;
}

label.tyc input {
    margin: 0 8px 0 0;
}

label.tyc {
    padding: 12px;
    width: 100%;
    border: 1px solid rgb(241, 232, 149);
    background-color: rgb(255, 252, 223);
    font-weight: 300;
    border-radius: 4px;
}

label.tyc a {
    color: dodgerblue;
}

input, select {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #dfdfdf;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
}

input[type="submit"] {
    font-weight: bold;
    background-color: royalblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color .4s ease, box-shadow .4s ease;
}

input[type="submit"]:hover {
    background-color: rgb(40, 73, 170);
    box-shadow: none;
    transition: background-color .4s ease, box-shadow .4s ease;
}

input[type="submit"]:active {
    box-shadow: none;
}

.error {
    display: none;
    color: red;
    font-size: 12px;
}

.error-input {
    border-color: rgba(220, 20, 60, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(220, 20, 60, 0.2) !important;
    outline-color: transparent;
    outline-width: 2px;
    outline-style: dotted;
}

label .required {
    margin-left: 2px;
}

.required {
    color: crimson;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    #registroForm {
        max-width: 480px;
    }

    #formulario {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .form-element {
        flex-basis: calc(50% - 10px);
    }

    .form-element:nth-child(3),
    .form-element:nth-child(4),
    .form-element:nth-child(5) {
        flex-basis: calc(33.3333% - 14px);
    }

    .form-element:nth-child(6),
    .form-element:nth-child(7),
    .form-element:nth-child(8),
    .form-element:nth-child(9),
    .form-element:nth-child(10) {
        flex-basis: 100%;
    }
}